body{
	background: black;
	margin: 0px;
}
.menu{
	width: 100%;
	height: auto;
	display: flex;
}
.ul1{
	display: flex;
	padding: 0px;
	margin: 10px;
	list-style: none;
	width: 100%;
	height: auto;
	justify-content: space-evenly;
}
.menu-li{
	color: white;
	line-height: 1em;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 9px 15px 0px 10px;
	font-family: sans-serif;
}
.div-pot{
	background: #fff;
	border: 1px solid black;
	padding: 13px;
	width: 98%;
}
.div-day{
	background: #fff;
	border: 1px solid black;
	padding: 13px;
	width: 98%;
	margin: 10px 0 10px;
}
.div-night{
	background: #fff;
	border: 1px solid black;
	padding: 13px;
	width: 98%;
	margin: 10px 0 10px;
}
.div-sx-zx{
	background: #fff;
	border: 1px solid black;
	padding: 13px;
	width: 98%;
	margin: 10px 0 10px;
	display: flex;
	justify-content: center;
}
.div1{
	display: flex;
	justify-content: center;
}
.font-size25{
	font-size: 25px;
}
.div2_1{
	display: flex;
	justify-content: center;
}
.div3{
	display: flex;
	justify-content: center;
	font-size: 15px;
}
.font-size15{
	font-size: 20px;
}
.panel-item{
	display: flex;
	justify-content: space-between;
}
a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, details, dfn, div, dl, dt, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, input, kbd, label, legend, menu, nav, object, output, p, pre, q, ruby, s, samp, section, select, span, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, var, video {
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.content{
	display: flex;
	justify-content: space-around;
}
.panels{
	display: flex;
	justify-content: center;
}
.div-week1{
	display: flex;
	justify-content: center;
}
.NEB{
	font-size: 35px;
	color:crimson;
}